.Rproj.user
.Rhistory
*.nfs*
*.RDS
*.rds
core*
README.html
README.md
/my_results.R
config/my_options.yaml
log/
cache/
input/*
!input/demo.yaml
output/*
!output/3_figures/covid_networks/*
!output/3_figures/covid_networks_beta/*
